<div class="ui container text">
  <div class="ui segment sign-up">
    <h2 class="title">Welcome! Sign up to get started.</h2>
    <%= render 'devise/shared/facebook_button', action: 'Sign up' %>
    <%= render 'devise/shared/email_button' %>
    <%= render 'devise/shared/sign_up_form' %>
  </div>
</div>
