<div class="ui container text">
  <div class="ui segment sign-up">
    <h2 class="title">Welcome to Request Live!</h2>
    <h3>Please sign up to get started.</h3>
    <%= render 'form' %>
  </div>
</div>
