<div class="ui text container">
  <% flash.each do |type, message| %>
    <div class="ui message icon <%= message_class(type) %>">
      <i class="ui icon <%= icon_class(type) %>"></i>
      <div class="content">
        <i class="close icon right"></i>
        <%= content_tag :div, type.capitalize, class: 'header' %>
        <%= content_tag :p, message %>
      </div>
    </div>
  <% end %>
</div>
