<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                            
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
          <ul class="dropdown-menu">
            <% if current_user.is_a?(AdminUser) %>
              <li><%= link_to('Requests', requests_path) %></li>
              <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
