<div class="ui container text">
  <div class="ui segment center thank-you">
    <h2>Thank you. Your request has been sent!</h2>
    <%= link_to new_request_path, class: 'ui button purple inverted' do %>
      <i class="fa fa-plus"></i> &nbsp;New Request
    <% end %>
    <%= button_tag class: 'ui button purple inverted share' do %>
      <i class="fa fa-share"></i> &nbsp;Share
    <% end %>
    <%= button_tag class: 'ui button purple inverted', id: 'follow' do %>
      <i class="fa fa-user-plus"></i> &nbsp;Follow
    <% end %>
    <div class="social-icons">
      <a href="http://instagram.com/rockwithdjdrek">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="http://facebook.com/rockwithdjdrek">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="http://twitter.com/rockwithdjdrek">
        <i class="fa fa-twitter-square"></i>
      </a>
    </div>
    <div class="ui modal">
      <div class="header">Share with your friends</div>
      <div class="content">
        <pre><%= new_request_url %></pre>
      </div>
    </div>
  </div>
</div>
