
<div class="thank-you text-center">
	<h1 class="title">Thank you. Your request has been sent!</h1>
	Make a <%= link_to 'new request', new_request_path, id: 'new-request-btn' %> |
	<p class="text-default"> Follow me on social media </p>
	<p>
		<a href="http://instagram.com/rockwithdjdrek">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
		<a href="http://facebook.com/rockwithdjdrek">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
		</a>
		<a href="http://twitter.com/rockwithdjdrek">
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
	</p>
</div>
