
<div class="thank-you">
	<h1 class="text-center title">Thank you. Your request has been sent!</h1>
	<p class="text-center">
		<a href="http://instagram.com/rockwithdjdrek">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
		<a href="http://facebook.com/rockwithdjdrek">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
		</a>
		<a href="http://twitter.com/rockwithdjdrek">
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
	</p>
</div>
