<div class="ui text container">
	<div class="ui segment center">
		<div class="welcome">
			<h2>Welcome to Request Live!</h2>
			<%= render 'devise/shared/facebook_button', action: 'Sign in' %>
			<h2>Sign in to make your request.</h2>
		</div>
	</div>
</div>
