<div class="ui text container">
	<div class="ui segment">
		<div class="center">
			<h2 class="greeting">Welcome to Request Live!</h2>
			<h3>Please sign in to make your request.</h3>
			<br>
			<%= render 'devise/shared/sign_in_form', action: 'in' %>
		</div>
	</div>
</div>
