<div class="text-center new-session">
	<h1>Welcome to RequestLive!</h1>
	<%= button_to user_facebook_omniauth_authorize_path, class: 'btn btn-lg btn-primary' do %>
	  <i class="fa fa-facebook"></i> &nbsp; Sign in with Facebook
	<% end %>
	<h2>Sign in to make your request.</h2>
</div>
