<div class="ui text container">
	<div class="ui segment">
		<div class="center">
			<h2 class="greeting">Welcome to Request Live!</h2>
			<h2>Please sign in to make your request.</h2>
			<br>
			<%= render 'devise/shared/facebook_button', action: 'Sign in' %>
		</div>
	</div>
</div>
