@import "semantic-ui";
@import "./vendor/semantic-ui/*";
@import "*";

.center {
	margin: 0 auto;
	text-align: center;
}

.welcome {
	margin: 40px;
}

.sign-up {
	text-align: center;

	.email {
		&.button {
			margin-top: 20px;
		}

		&.form {
			text-align: left;
		}
	}
}

.nav.menu {
	.fa-music {
		margin-right: 5px;
		color: $purple;
	}

	img {
		border-radius: 50%;
		width: 20px;
		display: inline-block;
	}
}
