@import "semantic-ui";
@import "./vendor/semantic_ui/*";
@import "*";
@import "./vendor/devise/**/*";

.center {
	margin: 0 auto;
	text-align: center;
}

.grey {
	background-color: $grey !important;
}

.positive {
	color: $positive !important;
}

.negative {
	color: $negative !important;
}

.blue {
	color: $blue !important;
}

.teal {
	color: $teal !important;
}

.purple {
	color: $purple !important;
}

.violet {
	color: $violet !important;
}

.brown {
	color: $brown !important;
}

.orange {
	color: $orange !important;
}

.yellow {
	color: $yellow !important;
}

.welcome {
	margin: 40px;
}

.sign-up {
	text-align: center;

	.email {
		&.button {
			margin-top: 20px;
		}

		&.form {
			text-align: left;
		}
	}

	.cancel {
		color: gray !important;

		&:hover {
			color: #fff !important;
		}
	}
	.radio {
		label:hover {
			cursor: pointer;
		}
	}
}

.nav.menu {
	.fa-music {
		margin-right: 5px;
		color: $purple;
	}

	img {
		border-radius: 50%;
		width: 20px;
		display: inline-block;
	}
}

.ui.message {
	margin-bottom: 20px !important;
}
