.new-session {
	padding: 40px;

	h1 {
		margin-top: 40px;
		font-size: 45px;
		font-weight: 100;
	}

	h2 {
		margin-top: 30px;
		font-size: 35px;
		font-weight: 100;
	}

	.btn-primary {
		margin-top: 25px;
	}
}
