#add-comment {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.request-comments {
	display: none;
  min-height: 100px;
}

@media only screen and (max-device-width: 480px) {
}

.thank-you {
	.social-icons {
		display: none;
		margin-top: 30px;
		font-size: 30px;

		a {
			margin: 10px;
			color: #b3b3b3;

			&:hover {
				color: #d65aff !important;
				transition: 0.5s !important;
			}
		}
	}
}
